<div id="<%= dom_id score %>">
  <p>
    <strong>User:</strong>
    <%= score.user_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= score.score %>
  </p>

  <p>
    <strong>Attempted at:</strong>
    <%= score.attempted_at %>
  </p>

</div>
