
<body>
 
    <header>
        <h1>Welcome to SmartMaths4Kids!</h1>
    </header>
    <div class="container">
        <h2>Learn Math the Fun Way!</h2>
        <p>Join us on an exciting journey to master the basics of math. Choose a topic below to get started:</p>
        <a href="Numbers.html" class="btn">Numbers</a>
        <a href="Addition.html" class="btn">Addition</a>
        <a href="Subtraction.html" class="btn">Subtraction</a>
        <a href="Multiplication.html" class="btn">Multiplication</a>
        <a href="Division.html" class="btn">Division</a>
        <a href="Game1.html" class="btn">Game1</a>
        <a href="Magic Mind Reader.html" class="btn">Magic Mind Reader</a>
        
    </div>
</body>
</html>
